.authentics {
	&:extend(.pos-rel);
	grid-column: 2/span 2;
	min-height:370px;

	@media screen and(max-width:576px) {
		grid-column: 1/span 3;
	}
}

.authentics__img{
	bottom: -20%;

	@media screen and(max-width:992px) {
		bottom: -25%;
		left: 120%;
	}
}

.authentics__info-price{
	margin-top: 30px;

	@media screen and(max-width:992px) {
		margin-top: 0px;
	}
}



.authentics__container {
	padding: 0px 130px 0px 55px;

	@media screen and(max-width:992px) {
		padding: 25px ;
	}
}

.authentics__info-person{
	text-align: left;
}

.authentics__title {
	max-width: 190px;
}