.collection-tea {
	@media screen and(max-width:576px) {
		grid-column: 1/span 3;
	}
}

.collection-tea--bg {
	background-color: #7cd5c9;
}

.inner {
	display: flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;
	height: 100%;
	
	@media screen and(max-width:576px) {
		padding: 15px 0;
	}
}

.inner__title {
	margin: 40px 0 5px 0;

	.font(21px,26px,"Roboto",#266258,);
	text-transform: uppercase;
}

.inner__text {
	.font(14px,12px,"Roboto",#438a7e,);
	font-weight: 500;
	text-transform: uppercase;
}

