.page {
	display: grid;
	grid-template-columns: 24.666% 50% 25.333%;
	grid-auto-rows: minmax(330px,auto);
}

.header{
	position: relative;
	grid-column: 1/span 2;
	// @media screen and(max-width:1140px) {
	// 	grid-column: 1/span 3;
	// }
}

.header--bg {
	background-color: #e9eae2;
	background: url(../assets/images/header/logo.png) 2% 3% no-repeat,
	url(../assets/images/header/img1.png) 20% 100% no-repeat,
	url(../assets/images/header/bg.png) 18% top no-repeat,
	#e9eae2;

	@media screen and(max-width:992px) {
		background: url(../assets/images/header/logo.png) 2% 3% no-repeat,
	url(../assets/images/header/img1.png)100% 100% no-repeat,
	url(../assets/images/header/bg.png) 18% top no-repeat,
	#e9eae2;
	}

	@media screen and(max-width:576px) {
		background: url(../assets/images/header/logo.png) 2% 3% no-repeat,
		url(../assets/images/header/bg.png) center top / cover no-repeat,
		#e9eae2;
		}
	}

.header__slider-container{
	position:absolute;
	top:13%;
	left:23.5%;
	width: 100px;

	@media screen and(max-width:576px) {
		position:absolute;
		top:20%;
		left:50%;
		transform: translateX(-50%);
	}
}
.header__slider-next,
.header__slider-prev{
	.wh(7px,14px);
	margin-top: -5px;
	font-size: 0;
	
	transform: rotate(180deg);
	background:url("@{way-img}/header/arrow.png") no-repeat center/cover;
}

.header__slider-next{
	transform: rotate(0deg);
}



.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;

	@media screen and(max-width:992px) {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}

	@media screen and(max-width:576px) {
		justify-content: center;
		align-items: center;
	}
}

.header__container{
	padding:150px 135px 215px 55px;

	@media screen and(max-width:576px) {
		padding:200px 15px 215px 15px;
	}
}
.header__info-price{
	margin-top: 50px;
}

.info-price {
	align-self: flex-start;
	border: 1px solid #000;

	@media screen and(max-width:992px) {
		margin: 50px 0 25px 0;
	}

	@media screen and(max-width:576px) {
		align-self: center;
		text-align: center;
	}
}

.text {
	.font(28px,37px,#969693);
}

.info-person {
	text-align: center;

	@media screen and(max-width:992px) {
		text-align: left;
	}

	@media screen and(max-width:576px) {
		text-align: center;
	}
}

.text-person {
	margin: 20px 0 30px 0;

	.font(16px,17px);
	font-weight: 900;
	color: #adada7;
}


.title {
	.font(56px,58px);
	font-weight: 100;
	color: #3f3f3e;
}

.header__title {
	max-width: 300px;
}

.header__menu {
	display: flex;
	flex-direction: column;

	position: absolute;
	top: 50px;
	right: 0;
}

.header__link {
	display: flex;
	align-items: center;
	justify-content: center;
	.wh(70px,60px);

	transition: background-color 500ms ease;
}
.header__link-one:hover{
	background-color: #86d8cd;
}

.header__link-one.active{
	background-color: #86d8cd;
}

.header__link-two:hover{
	background-color: #ffe600d7;
}

.header__link-two.active{
	background-color: #ffe600d7;
}

.header__link-three:hover{
	background-color: #142038d7;
}

.header__link-three.active{
	background-color: #142038d7;
}



.header__icon {
}