.warehouse {
	&:extend(.pos-rel);
	grid-column: 3/span 1;

	@media screen and(max-width:1140px) {
		grid-column: 2/span 2;
		grid-row: 1/1;

		transform: translateX(100%);
		transition: transform 1000ms ease;
	}
}

.warehouse.active{
	transform: translateX(0%);

	@media screen and(max-width:768px) {
		grid-column: 1/span 3;
	}
}

.warehouse__nav--bg{
	.wh(100%,100%);

	&:extend(.pos-abs);

	background:url("../assets/images/warehouse/bg.png") center center/cover no-repeat;

	@media screen and(max-width:1140px) {
		transform: translateX(100%);
	}
	
}

.warehouse__menu {
	display: flex;
	flex-direction: column;

	position: absolute;
	top: 50px;
	left: -70px;

	transition: all 1000ms ease;

	@media screen and(max-width:1140px) {
		grid-column: 1/span 3;
		grid-row: 1/1;
	}

}
.warehouse__menu.active{
	flex-direction: row;

	position: absolute;
	top: 0;
	left: 50%;
	z-index: 10;
	transform: translateX(-50%);
}

.warehouse__menu-link {
	display: flex;
	align-items: center;
	justify-content: center;
	.wh(70px,60px);

	transition: background-color 500ms ease;
}

.warehouse__link-one:hover{
	background-color: #86d8cd;
}

.warehouse__link-one.active{
	background-color: #86d8cd;
}

.warehouse__link-two:hover{
	background-color: #ffe600d7;
}

.warehouse__link-two.active{
	background-color: #ffe600d7;
}

.warehouse__link-three:hover{
	background-color: #142038d7;
}

.warehouse__link-three.active{
	background-color: #142038d7;
}

.warehouse__close {
	.wh(30px,20px);

	position:absolute;
	top: 20px;
	right: 20px;
	z-index: 5;

	cursor: pointer;
}
.warehouse__close::before,
.warehouse__close::after{
	content: "";
	.wh(100%,1px);

	position:absolute;
	top:0;
	left:0;
	
	background-color: #979797;
	transition:all 500ms ease;
}

.warehouse__close::after{
	top: 40%;
	transform:  scale(0) ;
}

.warehouse__close::before{
	top: 40%;
	transform: scale(0);
}

.warehouse__close.active::after{
	top: 40%;
	transform: rotate(45deg) scale(1);
}

.warehouse__close.active::before{
	top: 40%;
	transform:rotate(-45deg) scale(1);
}

.warehouse__title-nav{
	margin-top: 20px;

	position: relative;
	z-index: 1;

	.font(16px,16px,#3ab3a6);
	font-weight: 900;
}

.warehouse__nav {
	.wh(100%,100%);
	padding-left: 8%;
	padding-top: 100px;

	background-color: #142038e3;

	visibility: hidden;
	transform: translateX(100%);
	transition:visibility 500ms ease, transform 500ms ease ,background-color  500ms ease;

	@media screen and(max-width:576px) {
		padding-left: 2%;
	}
}

.warehouse__nav.active{
	visibility: visible;
	transform: translateX(0%);
}

.warehouse__list {
	display: grid;
	grid-template-columns:1fr 1fr;
	grid-template-rows: 20px;
	grid-auto-rows: minmax(120px,auto);
	align-items: end;

	@media screen and(max-width:1140px) {
		grid-template-columns:25% 1fr 1fr 25% ;
	}
	@media screen and(max-width:992px) {
		grid-template-columns: 1fr 1fr 1fr;
	}
	@media screen and(max-width:768px) {
		grid-template-columns: 1fr 1fr ;
	}
}

.warehouse__title {
	grid-column: 1/span 2;
	display: flex;
	align-items: center;
	
	position: relative;
	z-index: 1;

	.font(19px,18px,#979797);
	font-weight: 400;
	text-transform: uppercase;

	@media screen and(max-width:1140px) {
		grid-column: 1/span 4;
		justify-content: center;
	}
	@media screen and(max-width:992px) {
		grid-column: 1/span 3;
	}
	@media screen and(max-width:768px) {
		grid-column: 1/span 2;
	}
	
}

.warehouse__item {
	text-align: center;
}

.warehouse__icon {
	position: relative;
	z-index: 5;
}

