section.authentics.authentics--bg
	.authentics__container.container

		.authentics__info-price.info-price
			p.text Generic Oak Bowl
			p.text.text__price 87.49 $
			p.info-price__love FAVED 

		.authentics__info-person.info-person
			img.info-person__img(src="assets/images/authentics/img.png", alt="")
			p.text-person BY KARINA KAPOOR
			h2.title.authentics__title Back to Basics