section.authentics.authentics--bg
	.container

		.info-price
			p.text Generic Oak Bowl
			p.text.text__price 87.49 $
			p.info-price__love FAVED 

		.info-person
			img.info-person__img(src="assets/images/authentics/img.png", alt="")
			p.text-person BY KARINA KAPOOR
			h2.title.shakers__title Back to Basics