section.authentics
	img.authentics__img.img(src="assets/images/authentics/img1.png", alt="")
	.authentics__container.container

		.authentics__info-price.info-price
			p.text Generic Oak Bowl
			p.text.text__price 87.49 $
			div.info-price__like(data="3")
				p.info-price__like-text(data="3") ADD TO FAVS
				<svg class="info-price__icon"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="17px">
					<path d="M8.055,17.001 C8.055,17.001 -4.628,4.849 1.836,0.874 C5.564,-1.418 7.991,1.516 7.991,1.516 C7.991,1.516 10.418,-1.418 14.146,0.874 C20.610,4.849 8.055,17.001 8.055,17.001 "/>
				</svg>

		.authentics__info-person.info-person
			img.info-person__img(src="assets/images/authentics/img.png", alt="")
			p.text-person BY KARINA KAPOOR
			h2.title.authentics__title Back to Basics