section.authentics
	img.authentics__img.img(src="assets/images/authentics/img1.png", alt="")
	.authentics__container.container

		.authentics__info-price.info-price
			p.text Generic Oak Bowl 87.49 $
			div.info-price__like(data="3")
				span.info-price__like-text(data="3") ADD TO FAVS
				<svg class="info-price__icon" height="16px"width="17px" viewBox="0 0 16 17">
					<use xlink:href="assets/images/sprite/svg.svg#like"><use>
				</svg>

		.authentics__info-person.info-person
			img.info-person__img(src="assets/images/authentics/img.png", alt="")
			p.text-person BY KARINA KAPOOR
			h2.title.authentics__title Back to Basics