footer.footer.footer--bg 
	.footer__container
		.footer__img
		.footer__row 

			.footer__column
				.footer__inner-icon
					a.footer__link(href="#")
						img.footer__icon(src="assets/images/footer/icon1.png", alt="")

					a.footer__link(href="#")
						img.footer__icon(src="assets/images/footer/icon2.png", alt="")

					a.footer__link(href="")
						img.footer__icon(src="assets/images/footer/icon3.png", alt="")
				
				small.footer__text 2014 WARE HOUSE, USA based company. Image right belong to their respective owners.

			.footer__column
				img.footer__logo(src="assets/images/footer/logo.png", alt="")
				h5.footer__title warehouse