footer.footer.footer--bg 
	.footer__row 
		.footer__column
			.footer__inner-icon
				a.footer__link(href="#")
					img.footer__icon(src="#", alt="")

				a.footer__link(href="#")
					img.footer__icon(src="#", alt="")

				a.footer__link(href="")
					img.footer__icon(src="#", alt="")
			
			small.footer__text2014 2014 WARE HOUSE, USA based company. Image right belong to their respective owners.

		.footer__column
			img.footer__logo(src="#", alt="")
			h5.footer__title