header.header.header--bg
	.header__deg

		.header__slider-container.swiper-container

			.header__slider-wrapper.swiper-wrapper

				.header__slider-slide.swiper-slide 
					img.header__slider-img(src="assets/images/header/botl.png", alt="")
					
				.header__slider-slide.swiper-slide 
					img.header__slider-img(src="assets/images/header/botl.png", alt="")
					
				.header__slider-slide.swiper-slide 
					img.header__slider-img(src="assets/images/header/botl.png", alt="")

			.header__slider-prev.swiper-button-prev
			.header__slider-next.swiper-button-next

	.container.header__container

		.header__info-price.info-price
			p.text Cork Salt & Pepper 45.50 $

		.header__info-person.info-person
			img.info-person__img(src="assets/images/header/img.png", alt="")
			p.text-person BY MATERIA & NENDO
			h2.title.header__title Good <br> Things come in Paris

	img.header__logo(src="../assets/images/header/logo.png", alt="")
	
