section.shakers
	img.shakers__img.img(src="assets/images//shakers/img1.png", alt="")
	.shakers__container.container

		.shakers__info-price.info-price
			p.text Salt & Pepper Grinder 75.50 $
			//- span.text.text__price 
			div.info-price__like(data="2")
				span.info-price__like-text(data="2") ADD TO FAVS
				<svg class="info-price__icon" height="16px"width="17px" viewBox="0 0 16 17">
					<use xlink:href="assets/images/sprite/svg.svg#like"><use>
				</svg>

		.shakers__info-person.info-person
			img.info-person__img(src="assets/images/shakers/img.png", alt="")
			p.text-person BY AMISHA PATEL
			h2.title.shakers__title Ebony & Ivory