section.shakers.shakers--bg
	.container

		.info-price
			p.text Salt & Pepper Grinder
			p.text.text__price 75.50 $
			p.info-price__love FAVED

		.info-person
			img.info-person__img(src="assets/images/shakers/img.png", alt="")
			p.text-person BY AMISHA PATEL
			h2.title.shakers__title Ebony & Ivory