section.shakers.shakers--bg
	.container

		.info-price
			p.text Cork Salt & Pepper
			p.text.text__price 45.50 $
			p.info-price__love ADD TO FAVS

		.info-person
			img.info-person__img(src="assets/images/tea/img.png", alt="")
			p.text-person BY NOOR JAHAAN
			h2.title.shakers__title Tea O’Clock 