section.tea
	img.img(src="assets/images/tea/img2.png", alt="")
	.container.tea__container

		.tea__info-price.info-price
			p.text Cork Salt & Pepper 274.50 $
			div.info-price__like(data="1")
				span.info-price__like-text(data="1") ADD TO FAVS

				<svg class="info-price__icon" height="16px"width="17px" viewBox="0 0 16 17">
					<use xlink:href="assets/images/sprite/svg.svg#like"><use>
				</svg>

		.tea__info-person.info-person
			img.info-person__img(src="assets/images/tea/img.png", alt="")
			p.text-person BY NOOR JAHAAN
			h2.title.tea__title Tea O’Clock 