section.tea.tea--bg
	.container.tea__container

		.tea__info-price.info-price
			p.text Cork Salt & Pepper
			p.text.text__price 274.50 $
			p.info-price__love ADD TO FAVS

		.tea__info-person.info-person
			img.info-person__img(src="assets/images/tea/img.png", alt="")
			p.text-person BY NOOR JAHAAN
			h2.title.tea__title Tea O’Clock 