section.warehouse
	.warehouse__close 
	h3.warehouse__title warehouse

	nav.warehouse__nav
		ul.warehouse__list
			li.warehouse__item
				a.warehouse__link(href="#")
					img.warehouse__icon(src="#", alt="")
					h4.warehouse__title BOWLS  &  PANS

			li.warehouse__item
				a.warehouse__link(href="#")
					img.warehouse__icon(src="#", alt="")
					h4.warehouse__title CUPS

			li.warehouse__item
				a.warehouse__link(href="#")
					img.warehouse__icon(src="#", alt="")
					h4.warehouse__title DISPENSERS

			li.warehouse__item
				a.warehouse__link(href="#")
					img.warehouse__icon(src="#", alt="")
					h4.warehouse__title FURNITURE

			li.warehouse__item
				a.warehouse__link(href="#")
					img.warehouse__icon(src="#", alt="")
					h4.warehouse__title TABLEWARE

			li.warehouse__item
				a.warehouse__link(href="#")
					img.warehouse__icon(src="#", alt="")
					h4.warehouse__title CUTLERY

			li.warehouse__item
				a.warehouse__link(href="#")
					img.warehouse__icon(src="#", alt="")
					h4.warehouse__title PLANTS & DECO
