<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Document
		link(rel="stylesheet", href="css/index.min.css")
	body
		main.page
			<!--header-->
				include pug/layout/_header.pug

			<!--content-->
				include pug/layout/_warehouse.pug
				include pug/layout/_collection-tea.pug
				include pug/layout/_tea.pug
				include pug/layout/_image.pug
				include pug/layout/_shakers.pug
				include pug/layout/_collection-shakers.pug
				include pug/layout/_collection-authentics.pug
				include pug/layout/_authentics.pug


			<!--footer-->
				include pug/layout/_footer.pug

			<!--js-->
				include pug/layout/_js.pug

